 body {
    overflow-y: scroll;
}

#buttons {
    position: fixed;
    top: 0px;
    background: #333;
    width: 100%;
    height: 58px;
    z-index: 10;
}

.file_manip, #create_pdf, .button_layout {
    float: left;
    margin: 10px 5px 10px 10px;
    position: relative;
    z-index: 9;
}

.pages {
    width: 90px;
}

.zoom {
    width: 50px;
    font-weight: bold;
}

#reader_controls {
    background: #333;
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 8;
}

#pdf_viewer_con {
    display: none;
    position: relative;
    top: 58px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #333;
}
