.file_manip {
    float: left;
    margin: 10px 5px 10px 10px;
}

.pages {
    width: 90px;
}

.zoom {
    width: 50px;
    font-weight: bold;
}

.pop_up {
    background-color: #dabdb6;
    padding: 20px;
    width: 250px;
    border-radius: 2px;
}

.pop_bottom_pad {
    padding-bottom: 20px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#canvas_container {
    visibility: hidden;
    background: #333;
    text-align: center;
    border: solid 3px;
}