.file_manipulation {
    float: left;
}

.navigation_controls {
    float: left;
}

.btn-dark {
    color: #1ba6c9;
}

.pages {
    width: 90px;
}

.zoom {
    width: 50px;
    font-weight: bold;
}

#canvas_container {
    visibility: hidden;
    background: #333;
    text-align: center;
    border: solid 3px;
}