.file_manip {
    float: left;
    margin: 10px 5px 10px 10px;
}

.pages {
    width: 90px;
}

.zoom {
    width: 50px;
    font-weight: bold;
}

.pop_up {
    background-color: #dabdb6;
    padding: 20px;
    width: 250px;
    border-radius: 2px;
}

.pop_bottom_pad {
    padding-bottom: 20px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#pdf_reader_bg {
    background: #333;
    width: 100%;
    height: 100%;
}

#pdf_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.pop_up legend {
    font-size: 18px;
}

.space_btw_radio {
    margin-right: 10px;
}