#tab_manager {
    display: none;
    position: absolute;
    top: 58px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#open_pdf_tab_nav {
    position: fixed;
    top: 58px; 
    width: 100%;
    height: 40px;
}

.open_pdf_tab_elem {
    width: 100px;
    height: 100%;
    background-color: rgb(118, 174, 196);
    position: absolute;
    top: 0px;
}

.open_tab_con {
    position: relative;
    top: 98px;
}

.reader_tab_sec {
    background: #333;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 0px;
}
